.show.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
  .full-post
    .header
      %h1.title
        = raw @post['title']
      .subtitle
        .author
          = "Posted by: #{@post['author']['name']}"
        .date
          = post_date(@post)

    .content
      = raw @post['content']

    .comments
      .header
        %h2.title
          Comments?

      .add_comment
        = simple_form_for :comment, 
              :url => "/posts/#{@post['ID']}/comment", 
              :remote => true do |f|
          = f.input :content, :as => 'text', :placeholder => 'Add your comment', :input_html => {:class => 'comment_text'}, :label => false

          .comment_metadata
            .row
              = f.hidden_field :post_id, :value => @post['ID']
              = f.input :name, :as => 'string', :placeholder => 'Name', :input_html => {:class => 'comment_field hidden col-md-6 col-sm-1'}, :label => false
              = f.input :email, :as => 'string', :placeholder => 'Email (will not be displayed)', :input_html => {:class => 'comment_field hidden col-md-6 col-sm-1'}, :label => false
              %input.hidden.comment_field#human_checkbox{:type => "checkbox"}
                %span.comment_field.hidden
                  I'm a human, not a robot.
            = f.submit 'Post', :class => 'btn comment_field hidden submit'

      .comment_list
        - @comments.each do |comment|
          = render '/comments/comment', :comment => comment





:javascript
  $(function()
  {
    $('.alignnone').attr('style', '');

    var comment_box = new ADD_COMMENT_BOX();
    comment_box.init();
  })